.info-col {
    display: block;
    font-size: 2em;
    font-weight: bold;
}

.project-list {
    list-style: none;
    margin: 0;
    text-align: left;
}

.project-list a {
    color: #000;
}

a:hover {
    color: #007AFF;
}
