/* TODO: Convert to SCSS */

html, body {
  margin: 0;
  background-color: #F7F7F7;
  color: #1F1F21;
  font-family: 'Helvetica', sans-serif;
}

h1 {
  margin: 0;
}

button {
  border: 0;
  background: none;
  font-size: 0.8em;
  font-weight: bold;
}

button:hover {
  color: #007AFF;
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.row {
  width: 90%;
  margin: 0 auto;
}

[class*="col-"] {
  float: left;
  padding: 2%;
}

.col-4 {
  width: 33.33%;
}

.col-6 {
  width: 50%;
}

.col-8 {
  width: 66.66%;
}

.col-12 {
  width: 100%;
}

.container {
  width: 100vw;
  height: 100%;
}

.flex {
  display: flex;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}

.work {
  height: 98vh;
  padding: 5%;
  font-size: 1.5em;
}

.modal {
  position: fixed;
  /* width: 100%; */
  height: 100%;
  /* top: 0;
  right: 0; */
  background: #FFF;
  z-index: 1;
  display: flex;
  align-items: center;
  padding: 10%;
  color: #000;
  font-weight: bold;
}

.modal:focus {
  outline-color: #fff;
}

.modal-heading {
  font-size: 2em;
}

.close-btn {
  /* color: #F7F7F7; */
  position: absolute;
  top: 0;
  right: 0;
  margin: 2%;
  font-size: 2em;
  z-index: 2;
}

.pie, .budget, .shopify, .wiki, .happy, .tweetr {
  color: #F7F7F7;
  margin: 0 auto;
  font-size: 0.8em;
}

.img-box {
  text-align: center;
  padding: 2%;
}

.responsive-img {
  max-height: 417px;
  margin-top: 1%;
}





@media only screen and (max-width: 1024px) {
  .main {
    padding-top: 20%;
  }
  .intro {
    font-size: 1.5em;
  }
  .list {
    padding-left: 0;
    font-size: 1.2em;
  }
}

@media only screen and (max-width: 768px) {
  .main {
    padding-top: 25%;
  }
  .flex {
    width: 100%;
  }
  .profile-circle {
    height: 200px;
    width: 200px;
  }
  .heading {
    font-size: 1em;
  }
  .list {
    font-size: 0.9em;
  }
  .modal {
    padding: 1%;
  }

}

@media only screen and (max-width: 767px) {
  [class*="col-"] {
    width: 100%;
  }
  .flex {
    display: block;
  }
}


@media only screen and (max-width: 425px) {
  .main {
    padding-top: 15%
  }
  .intro {
    font-size: 1em;
  }
  .close-btn {
    font-size: 1em;

  }
  .pie, .budget, .shopify, .wiki, .happy, .tweetr {
    width: 95%;
    font-size: 0.5em;
  }
  .responsive-img {
    width: 100%;
  }

  .list {
    font-size: 0.7em;
  }
}

@media only screen and (max-width: 320px) {
/*
  .list {
    font-size: 0.8em;
  }*/
}
